		<h1>Summary#info</h1>
		<p>Find me in app/views/summary/info.html.erb</p>
		<p>hi <%= @current_admin[:email] %> </p>
		<%= link_to('new purchase',:controller =>"purchase_account",:action =>'new') %>
		


